.navbar__connected {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.navbar__connected div:hover {
    text-decoration: underline;
    cursor: pointer;
}