body {
    background-color: #f7f3f3;
}

.about_container {
    background-color: #ffffff;
    box-shadow: -10px 0 10px -10px black, /* ombre à gauche */
    10px 0 10px -10px black;
}

.vertical-bar {
    width: 20px;
    background: linear-gradient(to bottom, #0081A7, #F07167);
    display: inline-block;
}